# Week 3 In-Class: Loops, Functions, and Classes

In this notebook, you'll get some practice with the material you've been reading about, practicing, and discussing in class. Please don't change anything in the cells that say "Don't change anything in this cell." Otherwise, fill in the cells with code to complete the assignments. Good luck!

## Loops
Let's practice loops. The first block of code is going to create a list of numbers from 1 to 30. You'll use that list in the first two problems.

In [4]:
# Don't change anything in this cell
practice_list = list(range(1, 31))

In [2]:
# Problem 1
# For every [number] in practice_list, do the following:
# If the number is even, print '[number] is EVEN'
# If the number is odd and not divisible by three, print '[number] is ODD'
# If the number is odd and divisible by three, print '[number] is WEIRD'
for number in range(1,31):
    if number % 2 == 0:
        print("EVEN")
    if number % 2 != 0 and number % 3 != 0:
        print ("ODD")
    elif number % 2 != 0 and number % 3 == 0:
        print ("WEIRD")

ODD
EVEN
WEIRD
EVEN
ODD
EVEN
ODD
EVEN
WEIRD
EVEN
ODD
EVEN
ODD
EVEN
WEIRD
EVEN
ODD
EVEN
ODD
EVEN
WEIRD
EVEN
ODD
EVEN
ODD
EVEN
WEIRD
EVEN
ODD
EVEN

Hoopefully you had some fun playing with loops and if statements. In the next problem, you'll need to use a loop to count how many numbers are odd and how many are even in the list.

For example, if the list was [1, 2, 3, 4, 5], you'd print:
<br>Number of even numbers : 2
<br>Number of odd numbers : 3

Hint: you'll have to think about keeping a count of the odds and evens as you go through the loop, and print them out when you're done.

In [5]:
# Problem 2
# Print how many even numbers and how many odd numbers there are in practice_list
practice_list = list(range(1,31))
even_num = 0
odd_num = 0
for num in practice_list:
    if num % 2 == 0:
        even_num += 1
    else:
        odd_num += 1
        
print ("Number of even numbers:",even_num)
print ("Number of odd numbers:", odd_num)

Number of even numbers: 15
Number of odd numbers: 15

In [ ]:
# In the next question, write a loop to print the following pattern:
<br>1
<br>1 2
<br>1 2 3
<br>1 2 3 4 5

In [7]:
# Problem 3
# Generate the pattern above
def npattern(n):
    num = 1
    for i in range(0,n):
        num = 1
        for j in range(0,i + 1):
            print (num, end = " ")
            num = num + 1
        print("\r")
n = 5
npattern(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
# Problem 2 bonus: can you change your code to make the pattern go up to 9?
def npattern(n):
    num = 1
    for i in range(0,n):
        num = 1
        for j in range(0,i + 1):
            print (num, end = " ")
            num = num + 1
        print("\r")
n = 9
npattern(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

## Functions

Functions can be useful in situations where you find yourself typing the same code over and over again. In the next problem, we have 5 different lists containing a student's name and their grades in four of their classes. You'll need to print each student's name and their average grade. You could repeat the same code for all five students.... but see if you can do it with a function!

In [ ]:
# Don't change this block of code
student_1 = ['Erica', 97, 95, 69, 77]
student_2 = ['Jim', 70, 89, 83, 70]
student_3 = ['Alex', 69, 86, 87, 65]
student_4 = ['Lauren', 81, 86, 87, 65]
student_5 = ['Dana', 84, 74, 84, 70]

In [18]:
#Problem 2
#For all five students, print "[Student name] has an average score of [average grade]"
def gradeslist(L):
    for i in L:
        studentname = i[0]
        grades = i[1: ]
        average = sum(grades)/len(grades)
        print (str(studentname +"has an average score of" + average))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Let's try a function to check if a year is a leap year.

In the Gregorian calendar, three conditions are used to identify leap years:
* The year can be evenly divided by 4, is a leap year, unless:
* The year can be evenly divided by 100, it is NOT a leap year, unless:
* The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. In the next problem, you'll write a function that determines whether a given year is a leap year.

In [14]:
# Write a function that checks if a year is a leap year. 
# Find out if 1972, 1982, 1988, 1994, and 2000 were leap years.
def isleapyear(n):
    if n % 4 == 0 and n % 100 != 0 or n % 400 == 0:
        print (n, "is a leap year.")
    else:
        print (n, "is not a leap year.")
isleapyear(1972)   
isleapyear(1982)
isleapyear(1988)
isleapyear(1994)
isleapyear(2000)

1972 is a leap year.
1982 is not a leap year.
1988 is a leap year.
1994 is not a leap year.
2000 is a leap year.

If you got your function to work and asked a friend (or Google) if your answers were correct, good news! Your function and your knowledge of loops are both about to come in handy.

In [17]:
# Make a list called leap_years that contains every leap year from 1900 to 2020
for n in range (1900, 2021):
    if n % 4 == 0 and n % 100 != 0 or n % 400 == 0:
        print (n)

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020

## Classes